{{ $bulmacar := resources.Get "/js/external/bulma-carousel.min.js" }}
{{ $vendors := slice $bulmacar | resources.Concat "/js/vendor.js" | minify | fingerprint }}
<script src="{{ $vendors.RelPermalink }}"></script>
<script>
var carousels = bulmaCarousel.attach();
</script>
<script src="https://unpkg.com/lunr/lunr.js"></script>


{{ $tfn := resources.Get "/js/timefromnow.js" }}
{{ $navbartog := resources.Get "/js/navbar-toggle.js" }}

{{ $scripts := slice $tfn $navbartog }}

{{ with .Site.Params.search.enabled }}
{{ if . }}
  {{ $search := resources.Get "/js/search.js" | resources.ExecuteAsTemplate "/js/search.js" . }}
  {{ $scripts = $scripts | append $search }}
{{ end }}
{{ end }}

{{ $userscript := $scripts | resources.Concat "/js/userscript.js" | minify | fingerprint }}
<script src="{{ $userscript.RelPermalink }}"></script>