{{$context := .context}}
{{$config := .config.config}}

{{ $author := "" }}
{{ $img := "" }}
{{ $blurb := "" }}
{{ $header := "" }}
{{ $url := "" }}

{{ $usetaxo := false }}

{{ with $config.usetaxo }}
{{ $usetaxo = (cond . true false) }}
{{ end }}

{{- if $usetaxo -}}
<!-- Use Taxo -->
  {{ $authortaxo := $config.authortaxo | default "authors" }}
  {{ $author = $config.featured }}
  {{ $authors := where $context.Site.Pages "Section" $authortaxo }}
  {{ with $context.Site.GetPage (printf "%s/%s" $authortaxo $author) }}
    {{ $a := .Params }}
    {{ if .Content }}{{ $url = .Permalink }}{{ end }}
    {{ with $a.name }}{{ $author = . }}{{ end }}
    {{ with $a.blurb }}{{ $blurb = . }}{{ end }}
    {{ with $a.header }}{{ $header = . }}{{ end }}
    {{ with $a.image }}{{ $img = . }}{{ end }}
  {{ else }}
  <div class="card">
    <div class="card-content">
      No authors taxonomy configured
    </div>
  </div>
  {{ end }} 
{{ else if (or $config.authorname (or $config.authorblurb (or $config.authorheader (or $config.authorimg $config.authorurl))) ) }}
  {{ $a := $config }}
  {{ with $a.authorurl }}{{ $url = . }}{{ end }}
  {{ with $a.authorname }}{{ $author = . }}{{ end }}
  {{ with $a.authorblurb }}{{ $blurb = . }}{{ end }}
  {{ with $a.authorheader }}{{ $header = . }}{{ end }}
  {{ with $a.authorimage }}{{ $img = . }}{{ end }}

{{ else }}
  <div class="card">
    <div class="card-content">
      No featured authors configured.
    </div>
  </div>
{{ end }}

{{ with $author }} 
<div class="card author-sidebar">
  {{- with $img -}}
  <div class="card-image">
    <figure class="image"><img class="" src="{{- . | absURL -}}" alt="Profile Photo: {{$author}}"></figure>
  </div>
  {{- end -}}
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{- with $header -}}{{- . -}}{{- else -}}Meet the Author{{- end -}}</p>
      </div>
    </div>
    
    <div class="content">
      {{- with $blurb -}}
      <p>{{.}}</p>
      {{- end -}}
      {{- with $url -}}
      <em><a href="{{.}}" class="content is-small">Read More...</a></em>
      {{end}}
    </div>
  </div>
</div>
{{end}}
