{{ $context := .context }}
{{ $config := .config.config }}

{{ if eq $context.Kind "page" }}
  {{ partial "content/card-full.html" $context }}
{{ else if eq $context.Kind "home"}} {{/* Homepage */}}
  {{ if isset $config "homepage" }}
  <div>{{ partial "main/homepage.html" (dict "context" $context "config" $config.homepage) }}</div>
  {{ end }}
{{ else if eq $context.Kind "section" }} {{/* Section Page */}}
  {{ $layout := "list" }}
  {{ if isset $config "section" }}
    {{ $layout = $config.section.listStyle }}
    {{ if isset $context.Params "layout" }}
      {{ $layout = $context.Params.layout }}
    {{ end }}
  {{ end }}

  {{ $layout = cond (or (eq $layout "ol") (eq $layout "ul")) "list" $layout }}
  {{ partial (printf "main/%s.html" $layout) (dict "context" $context "config" $config.section) }}

{{ else if eq $context.Kind "taxonomy" }}
  {{ partial "main/taxonomy.html" (dict "context" $context "config" $config.section) }}
{{ else }} {{/* Fallback */}}
<hr>Fallback Layout
<div class="card card-list-container">
  <div class="card-content">
    {{ with $context.Content }}
    <div class="content">
      {{.}}
    </div>
    <hr>
    {{ end }}
    {{ with $context.Pages }}
    <div class="content">
      <ul>
        {{ range . }}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}

