<section class="hero is-primary {{- if .IsHome }} is-medium {{ end }}">
  <div class="hero-wrapper" {{ if and .IsHome (isset .Site.Params.hero "background") }}style="background:url('{{.Site.BaseURL}}{{.Site.Params.hero.background}}') no-repeat center; background-size: cover;"{{end}}>
    <div class="hero-body {{ if and .IsHome (isset .Site.Params.hero "background") }}transparent{{end}} {{with .Site.Params.hero.bgislight }}{{if .}}light-bg{{end}}{{else}}dark-bg{{end}}">
      <div class="container brand">
        <h1 class="title brand-title"><a href="{{.RelPermalink}}">{{ if (or .IsHome .IsPage) }}{{ .Title }}{{ else }}{{ .Title | singularize }}{{end}}</a></h1>
        <h2 class="subtitle">
          {{- if .IsHome }} 
            {{- if (isset .Site.Params "subtitle") }}
            {{- .Site.Params.subtitle }}
            {{- end }}
          {{- else if .IsPage }}
            {{- with .Params.author }}
              by {{- . }}
            {{- else }}{{- with .Site.Params.author.name }}by {{.}}{{end}}
            {{- end }}
          {{- end }}
        </h2>
      </div>
    </div>
  </div>
  {{ partial "hero/subnav.html" . }}
</section>
