{{ $countnav := 0 }}
{{ $subnav := slice }}
{{ $taxonomy := "" }}

{{- if isset .Site.Params "subnav" -}}

{{ if isset .Site.Params.subnav "usetaxonomy" }}
  {{ $countnav = .Site.Params.subnav.taxonomycount | default 3 }}
  {{ $usetaxo := .Site.Params.subnav.usetaxonomy }}
  {{ range $sterm, $staxo := .Site.Taxonomies }}
    {{ if eq $sterm $usetaxo }}
      {{ $taxonomy = $sterm}}
    {{ end }}
  {{ end }}

{{ $terms := slice }}
{{ range $k, $v := (index .Site.Taxonomies $taxonomy )}}
  {{$terms = $terms | append $k}}
{{ end }}

{{ if isset .Site.Params.subnav "featuredterms" }}
  {{ range .Site.Params.subnav.featuredterms }}
    {{ if and (in $terms .) (gt $countnav 0) }}
      {{ $subnav = $subnav | append . }}
      {{ $countnav = sub $countnav 1 }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if gt $countnav 0 }}
  {{range $i, $e := $terms }}
    {{ if and (not (in $subnav $e)) (gt $countnav 0) }}
      {{ $subnav = $subnav | append $e }}
      {{ $countnav = sub $countnav 1 }}
    {{ end }}
  {{ end }}
{{ end }}

<div class="container categories">
  <nav class="navbar" role="navigation" aria-label="main navigation" >
  {{range $subnav }}
    {{ $p := or ($.Site.GetPage (printf "%s/%s" $taxonomy (. | urlize))) ($.Site.GetPage (printf "%s/%s" $taxonomy (. ))) }}
    <a class="navbar-item is-hidden-mobile" href="{{$p.Permalink}}">{{- $p.Title -}}</a>
    
  {{ end }}
  <a class="navbar-item" href="{{.Site.Params.subnav.usetaxonomy | absURL}}">All {{.Site.Params.subnav.usetaxonomy | title -}}</a>
  </nav>
</div>
{{ end }}

{{- end -}}
