{{ $config := .config }}
{{ $context := .context }}

{{ $tag := "ul" }}

{{ with $context.Params.layout }}
{{ $tag = . }}
{{ end }}
{{ $mainSection := .context.Section}}

{{ $pages := .context.Pages }}

{{ $paginator := .context.Paginate ($pages.ByPublishDate)  }}
{{ $postCount := $paginator.PageSize }}

<div class="card post-card">
  <div class="card-content content">
  {{ printf "<%s>" $tag | safeHTML }}
  {{- range first $postCount ( $pages.ByPublishDate.Reverse ) -}}

    <li><a href="{{.Permalink}}">{{.Title}}</a>
    {{ if isset $config "display" }}
      <span class="has-text-weight-normal">
        {{ if in $config.display "authors" }}
          &emsp;&middot;&emsp;
          {{ partial "utils/author.html" . }}
        {{ end }}
        {{ if in $config.display "date" }}
          &emsp;&middot;&emsp;
          {{- with .PublishDate -}}<time datetime="{{- .Format "2006-01-02T15:04:05-07:00" -}}">{{- .Format "02 Jan 2006" -}}</time>{{- end -}}
        {{ end }}
      </span>
    {{ end }}
    </li>
  {{ end }}
  {{ printf "</%s>" $tag | safeHTML }}


</div>
</div>

