{{ $context := .context }}
{{ $config := .config }}

{{ $currentTerm := $context.Data.Term }}
{{ $currentTaxonomy := $context.Type }}

{{ $layout := "ul" }}

{{ if isset $config "listStyle" }}
  {{ $layout = $config.listStyle }}
{{ else }}
{{ if isset $context.Site.Params "layouts" }}
{{ if isset $context.Site.Params.layouts $context.Kind }}
{{ $layout = index $context.Site.Params.layouts $context.Kind}}
{{ end }}
{{ end }}
{{ end }}

<div class="card card-list-container">
  <header class="card-header">
    <span class="card-header-title">
      {{ range $key, $taxonomy := (index $context.Site.Taxonomies $context.Type )}}
        {{ if eq $currentTerm $key }}
          Found {{$taxonomy.Count}} {{cond (gt $taxonomy.Count 1) "entries" "entry" }} with {{ $currentTerm }} {{ $currentTaxonomy | singularize }}
        {{ end }}
      {{ end }}

    </span>
    
      <span class="card-header-right"><strong><a href="{{$currentTaxonomy | absURL}}"> See all {{$currentTaxonomy}}</a></strong></span>
    
  </header>
  {{ if isset $context.Params "image" }}
  <div class="card-image">
    <figure class="image is-marginless">
      <img src="{{$context.Params.image | absURL }}" alt="{{$currentTerm | default "Image"}}">
    </figure>
  </div>
  {{ end }}
  <div class="card-content">
    <div class="content">
      <div>{{ with  $context.Content }}{{.}}{{ end }}</div>
      {{ if eq $layout "gallery" }}
      <div class="columns is-multiline is-desktop">
        {{ range $context.Pages }}
          {{ .Render "list-items/gallcard" }}
        {{ end }}
      </div>
      {{ else }}
      {{ printf "<%s>" $layout | safeHTML }}
        {{ range $context.Pages }}
          {{ .Render "list-items/li" }}
        {{ end }}
      {{ printf "</%s>" $layout | safeHTML }}
      {{ end }}
      
    </div>
  </div>
</div>

    