body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.wrapper {
  flex: 1 0 auto;
}


/**
 * HERO 
 */ 
.hero-body {
  text-align: center;
  border-bottom: 1px solid rgba(54,54,54,.2);
}

.hero-body.transparent > .container {
  padding: 4rem 0;
  border: 10px solid white;
}

.hero-body.transparent > .container > h1 > a {
  color: inherit;
}

.hero-body.transparent.dark-bg > .container > h1 ,
.hero-body.transparent.dark-bg > .container > h1 > a ,
.hero-body.transparent.dark-bg > .container > h2 {
  color: white;
}

.hero-body.transparent.light-bg > .container {
  background: rgba(255,255,255,0.5)
}

.hero-body.transparent.dark-bg > .container {
  background: rgba(0,0,0,0.35);
}


/**
 * CARD STYLING
 */ 
.card.post-card {
  
}
.card-figure {
  margin-bottom: 2rem;
}
.card-header {
  align-items: baseline;
}
.card-header-author {
  flex: 0 1 auto;
  padding: 0.75rem;
  
}
.card-header-title {

}


/**
 * PROFILE PHOTO
 */ 

figure.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile > img {
  max-width: 250px;
}


/**
 * BRAND 
 */ 
.brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.brand-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
}


/**
 * SOCIAL BUTTONS
 */ 
.social-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-start;
  flex-wrap: wrap;
}
.social-button {
  flex: 0 1 auto;
  color: #7a7a7a;
  min-width: 2rem;
}


/**
 * MAIN CONTENT
 */ 
.content figure {
  margin-left: 0;
  margin-right: 0;
}
.footnotes {
  margin-top: 2.5rem
  
}
.footnotes::before {
  content: "Notes:";
}
.footnotes > hr {
  margin-top: 0
}

.container.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.container.categories > nav.navbar {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.container.categories > nav.navbar > a.navbar-item {
  text-transform: uppercase;
  flex: 1 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.procedure, .ingredients {
  margin: 2rem 0;
}


/**
 * TAGS 
 */ 
.tags-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.tags-wrapper > .tags {
  margin-bottom: 0.5rem;
  margin-right: .5rem;
}


/**
 * PAGE FOOTER 
 */ 
.footer {
  padding-bottom: 2rem;
}

.footer .card {
  background: none;
}


/**
 * GALLERY 
 */ 

 .gallery {
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
 }
 .gallery > header {
   flex: 0 1 auto;
 }
 .gallery-content {
   display: none; 
 }
 .gallery-content.gallery-content-show {
   display: flex;
   flex: 1 0 auto;
   flex-direction: column;
   align-items: stretch;
 }
 .gallery-content.gallery-content-show > .card-image {
   height: 450px; 
   width: 100%; 
   flex: 1 0 auto;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
 }
 .gallery-content.gallery-content-show > .card-content {
   flex: 0 1 auto;
   padding: 0.5rem;
 }
 .gallery-content.gallery-content-show > .card-image > img.gallery-img {
   max-width: 100% !important;
   max-height: 100% !important;
   height: auto;
   object-fit: contain;
   overflow: hidden;
 }

