
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

@import "bulma_overrides";

$family-primary: $family-sans-serif!default;

{{ with .Site.Params.scss.customFontBody }} 
$custom-font-body: {{.}};
$family-primary: {{.}};
{{ end }}

{{ with .Site.Params.scss.primary }} 
$primary: {{.}};
$link: $primary;
{{ end }}

{{ with .Site.Params.scss.linkColor }}
$link: {{.}};
{{ end }}

{{ with .Site.Params.scss.primaryInvert }} 
$primary-invert: {{.}};
{{ end }}

{{ with .Site.Params.scss.accentColor }} 
.hero.is-primary {
  background: {{.}} !important;
}
{{ end }}

{{ with .Site.Params.scss.brandFont }} 
$brand-font: {{.}};
{{ else }}
$brand-font: $family-primary;
{{ end }}

{{ with .Site.Params.scss.footnote }} 
$foot-note: "{{.}}";
{{ else }}
$foot-note: "Notes:";
{{ end }}


@import "bulma/bulma";
@import "./bulma-extensions/bulma-carousel";
@import "components/wrapper";
@import "components/hero";
@import "components/card";
@import "components/profile";
@import "components/brand";
@import "components/social";
@import "components/content";
@import "components/tags";
@import "components/footer";
@import "components/gallery";
@import "components/images";
@import "components/event";
@import "components/pagination";
@import "components/search";
@import "components/code";
@import "sharing";
@import "custom";

.widget {
  width: 100%;
}

body > .main {
  min-height: 100vh;
  height: 100%;
}

.main-container {
  flex: 1 0 auto !important;
  min-height: 70vh
}