
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

@import "bulma_overrides";

$family-primary: $family-sans-serif!default;

{{ with .Site.Params.scss.customFontBody }} 
$custom-font-body: {{.}};
$family-primary: {{.}};
{{ end }}

{{ with .Site.Params.scss.linkColor }}
$link: {{.}};
{{ end }}

{{ with .Site.Params.scss.primary }} 
$primary: {{.}};
$link: $primary;
{{ end }}

{{ with .Site.Params.scss.primaryInvert }} 
$primary-invert: {{.}};
{{ end }}

{{ with .Site.Params.scss.brandFont }} 
$brand-font: {{.}};
{{ else }}
$brand-font: $family-primary;
{{ end }}

{{ with .Site.Params.scss.footnote }} 
$foot-note: "{{.}}";
{{ else }}
$foot-note: "Notes:";
{{ end }}

{{ range .Site.Data.config.params.widgets }}
{{ if eq .widgetName "widget-hero" }}
{{ $hero := . }}
{{ with $hero.config.background }}
$bg: "{{. | absURL}}";
.hero-wrapper-bg {
  background:url($bg) no-repeat center; background-size: cover;
}
{{ end }}
{{ end }}
{{ end }}



@import "bulma/bulma";
@import "./bulma-extensions/bulma-carousel";
@import "components/wrapper";
@import "components/hero";
@import "components/card";
@import "components/profile";
@import "components/brand";
@import "components/social";
@import "components/content";
@import "components/tags";
@import "components/footer";
@import "components/gallery";
@import "components/images";
@import "components/event";
@import "components/pagination";
@import "sharing";
@import "custom";

.widget {
  width: 100%;
}

body > .main {
  min-height: 100vh;
  height: 100%;
}

.main-container {
  flex: 1 0 auto !important;
  min-height: 70vh
}