.content figure {
  margin-left: 0;
  margin-right: 0;
}

.card {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  .card-content {
    flex: 1 0 auto;
  }
}

.sidebar > .card {
  margin-bottom: 1rem;
}

.card-figure {
  margin-bottom: 2rem;
}
.card-header {
  align-items: baseline;
}
.card.post-card {
  header.post-header {
    padding: 0.75rem 1.5rem;

    .card-header-title {
      padding: 0;
      margin: 0;
    }
    .card-header-author {
      flex: 0 1 auto;
    }
    @include until(550px) {
      display: flex;
      flex-direction: column;

    }
  }
}

.card-header-right {
  padding: 0 1rem;
}
.modal-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card-list-container {
  height: 100%;
}