.footnotes {
  margin-top: 2.5rem
}
.footnotes::before {
  content: $foot-note;
}
.footnotes > hr {
  margin-top: 0
}

.container.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  nav.navbar {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    a.navbar-item {
      text-transform: uppercase;
      flex: 1 0 auto;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
}

.procedure, .ingredients, .resource-box {
  margin: 2rem 0;
}

@for $i from 2 through 1000 {
  $size: 1em;
    @if $i <= 20 { $size: 1em + ( 2 / 30 ) * $i; }
    @if $i >  20 { $size: 3em; }
    .font_size_#{$i} { font-size: $size; }
}

nav.pagination {
  margin: 1rem;
}