.event {
  height: 100%;
}
.eventbox {
  text-align: center;
  
  &.event-day {
    font-size: 4rem;
    line-height: 1;
  }
  &.event-diff {
    font-style: italic;
  }
}

.side-event {
  .media {
    display: flex;
    flex-direction: row;
  }
  .media-left {
    width: 40%;
    max-width: 120px
  }
  
}