.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 400px;
  header {
    flex: 0 1 auto;
  }
}

.gallery-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
