body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}
.wrapper {
  flex: 1 0 auto;
}

@include until(400px)  {
 .section {
   padding: 0.25rem;;
 }
}


.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  > .side-box {
    flex: 1 0 initial;
    margin: 0 0 1.5rem 0;
  }
}
