<html>
{{- partial "head.html" . -}}
<body>

<div class="content main is-marginless">
  {{ $config := .Site.Params.widgets }}
  {{ $context := . }}
  {{ with $config }}
    {{ template "widget-layout" (dict "config" $config "context" $context "sitex" $.Site ) }}
  {{ else }}
    No widgets configuration found.
  {{ end }}
</div>

{{ define "widget-layout" }}
  {{ $config := .config }}
  {{ $context := .context }}
  {{ $sitex := .sitex }}
  <div class="columns is-multiline">
    {{- range $config -}}
        {{- if eq .type "section" -}} {{/* Container */}}
        <div class="{{.class|safeHTMLAttr}} wrap {{with .config}}{{with .class}}{{.}}{{end}}{{end}}">
          {{ template "widget-layout" (dict "config" .items "context" $context "sitex" $sitex ) }} 
        </div>
        {{- else -}} {{/* Widget */}}
        <div class="{{with .class}}{{.|safeHTMLAttr}}{{end}} column is-full">
          {{ partial (printf "widgets/%s" .widgetName ) (dict "config" . "context" $context) }}
        </div>
        {{- end -}}
    {{- end -}}
  </div>
{{ end }}

{{ partial "foot.html" . }}
</body>
</html>