<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>

{{ $showsidebar := false }}
{{ $leftsidebar := false }}

{{- if isset .Site.Params "sidebar" -}}
  {{- if isset .Site.Params.sidebar "display" -}}
    {{- $showsidebar = true -}}
  {{- end -}}
  {{- if isset .Site.Params.sidebar "position" -}}
    {{- if eq "left" .Site.Params.sidebar.position -}}
      {{- $leftsidebar = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- partial "head.html" . -}}

<body>

<div class="wrapper">
  {{- partial "header.html" . -}}
  <section class="section">
    <div class="container">
      <div class="columns">
        {{- if and $showsidebar $leftsidebar -}}
        {{- partial "sidebar.html" . -}}
        {{- end -}}
        <div class="column {{ if $showsidebar }}is-three-quarters{{ end }}">
          <main>
          {{- block "main" . -}}
          {{- end -}}
          </main>
        </div>
        {{- if and $showsidebar (not $leftsidebar) -}}
        {{- partial "sidebar.html" . -}}
        {{- end -}}
      </div>
    </div>
  </section>
</div>
{{- partial "footer.html" . -}}
{{- partial "foot.html" . -}}

</body>

</html>