{{ define "main" }}      
{{ $currentTerm := .Data.Term }}
{{ $currentTaxonomy := .Type }}

{{ $layout := "li" }}

{{ if isset .Site.Params "layouts" }}
{{ if isset .Site.Params.layouts .Kind }}
{{ $layout = index .Site.Params.layouts .Kind}}
{{ end }}
{{ end }}

<div class="card card-list-container">
  <header class="card-header">
    <p class="card-header-title">
      {{ range $key, $taxonomy := (index .Site.Taxonomies .Type )}}
        {{ if eq $currentTerm $key }}
          {{ $tagURL := printf "tags/%s" $currentTerm | relURL }}
          Found {{$taxonomy.Count}} {{if gt $taxonomy.Count 1 }} entries{{else}} entry{{ end}} in {{ $currentTerm }} {{ $currentTaxonomy | singularize }}
        {{ end }}
      {{ end }}

    </p>
    
      <span class="card-header-right"><strong><a href="{{$currentTaxonomy | absURL}}"> See all {{$currentTaxonomy}}</a></strong></span>
    
  </header>
  <div class="card-content">
    <div class="content">

      {{if eq $layout "ul"}}<ul>
      {{else if eq $layout "ol"}}<ol>
      {{else}}<div class="columns is-multiline is-desktop">
      {{end}}
      
      {{ range .Pages }}
        {{ if or (eq $layout "ul") (eq $layout "ol") }}
          {{ .Render "list-items/li" }}
        {{ else }}
          {{ .Render (printf "list-items/%s" $layout ) }}
        {{ end }}
      {{ end }}
      
      {{if eq $layout "ul"}}</ul>
      {{else if eq $layout "ol"}}</ol>
      {{else}}</div>  
      {{end}}
    </div>
  </div>
</div>

    
{{ end }}