{{$context := .context}}
{{$config := .config}}

{{ if isset .config "data" }}
  {{ if (index .context.Site.Data .config.data) }}
    {{ $list := index .context.Site.Data .config.data }}
    {{ $socialmessage := ( $list.label | default "Follow me!" ) }}
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">
          {{ $socialmessage }}
        </div>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="social-container">
            {{ range $list.social }}
              <a class="icon" href="{{.url}}" aria-label="{{with .label}}{{.}}{{else}}.icon{{end}}" {{with .color}}style="color:{{.}}"{{end}} >
                <i class="{{.icon}}"></i>
              </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ else }}
    The specified file <pre><code>/data/{{.config.data}}.{toml/yaml/json}</code></pre> does not seem to exist.
  {{ end }}  
{{ else }}
Social box not configured.
{{ end }}