$primary: hotpink;

.tag.cuisine-tag {
  background-color: aliceblue;
  color: black;
}

.tags .section-tag-label {
  color: black;
}
.xtags {
  display: flex;
  flex-direction: column;
  
}
.tags-group {
  display: block;
}