{{ $context := .context }}
{{- if .context.Content -}}
<div class="card post-card">
  {{- if .isNodeOrHome -}}
    <header class="post-header card-header">
      <div class="card-header-title">
        <a href="{{.context.Permalink}}">{{.context.Title}}</a>
      </div>
      <span class="card-header-author has-text-weight-normal">
        {{ with .context.Params.authors }}{{ delimit . ", "}}
        {{ else }}{{ .context.Site.Params.author.name }}
        {{ end }}xx
        {{ with .context.PublishDate }}<time datetime="{{ .Format "2006-01-02T15:04:05-07:00" }}">{{ .Format "02 Jan 2006" }}</time>{{ end }}
      </span>
    </header>
  {{ end }}
  
  
  <div class="card-content">
    
    {{ partial "content/tagwrapper.html" (dict "context" $context "sp" .sp "position" "head") }}
    
    {{ if .context.Params.show_gallery }}
    {{ partial "utils/gallery.html" .context }}
    {{ end }}
    <div class="content">
      {{- if and .isNodeOrHome .context.Truncated -}}
        {{ .context.Summary }}
      {{ else }}
        {{- .context.Content -}}
      {{- end -}}
      {{ if .isNodeOrHome }}
        <p><em><a class="content is-small" href="{{ .context.RelPermalink }}">{{- if .context.Truncated -}} Read More... {{- else -}}Go to page{{- end -}}</a></em></p>
      {{ end }}
    </div>

    {{ partial "content/tagwrapper.html" (dict "context" $context "sp" .sp "position" "foot") }}
    
  </div>
  

</div>
{{- end -}}
