{{ $context := .context }}
{{ $sp := .sp }}
{{ $pos := .position }}
<div class="tags-wrapper">
  <div class="tags">
    {{ if isset $sp "display_taxonomies" }}
      {{ range where $sp.display_taxonomies "position" $pos }}
        {{ if isset $context.Params .name }}
          {{ $pname := .name }}
          <div class="tags-group {{if isset . "style"}}{{if eq .style "list"}}taglist-group{{end}}{{end}}">
            {{ if isset . "labeled" }}
              {{ if .label }}{{ .label }}{{else}}{{.name | title }}{{end}}
            {{ end }}
            {{ if isset . "style" }}
              {{ if eq .style "list" }}
                <ul class="taglist {{$pname}}-taglist">
                {{ range (index $context.Params .name) }}
                  <li><a href="{{ printf "/%s/%s" $pname . | absURL }}">{{ . }}</a></li>
                {{ end }}
                </ul>
              {{ end }}
            {{ else }}
              {{ range (index $context.Params .name) }}
                <a href="{{ printf "/%s/%s" $pname . | absURL }}"><span class="tag {{$pname}}-tag">{{ . }}</span></a>          
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
