{{ $currentPage := . }}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item brand brand-title" href="{{ .Site.BaseURL }}">
      {{ with .Site.Params.brand }}{{.}}{{else}}{{.Site.Title}}{{end}}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
  <div class="navbar-start">
    
  </div>
  <div class="navbar-end">
    {{ range .Site.Menus.main }}
    <a class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end}}
    {{ if isset .Site.Params.search "enabled" }}
    {{ if .Site.Params.search.enabled }}
    <div class="navbar-item">
      <button class="button" aria-label="launch search" id="launchSearchModal">
        {{if isset .Site.Params.search "icon"}}
        <i class="{{ .Site.Params.search.label | default "fas fa-search"}}"></i>
        {{ else }}
        {{ .Site.Params.search.label | default "Search"}}
        {{ end }}
      </button>
    </div>
    {{ end }}
    {{ end }}

  </div>
</div>
</nav>

{{ if isset .Site.Params.search "enabled" }}
{{ if .Site.Params.search.enabled }}
  {{partial "utils/search-modal.html" . }}
{{ end }}
{{ end }}
