{{/* list of valid box types */}}
{{ $valid :=  .Site.Data._pointybublconfig.sideboxes }}
{{ $context := . }}
<div class="column sidebar">
  {{ range .Site.Params.sidebar.box}}
  <div class="side-box">
    {{ if in $valid .type }}
      {{ $partial := printf "side/%s" .type }}
      {{ partial $partial (dict "context" $context "config" .) }}
    {{ else if and ( eq .type "custom" ) (isset . "partial") }}
      {{ partial .partial (dict "context" $context "config" .) }}
    {{ else }}
    <div class="card">
      <div class="card-content">
        <code>{{.type}}</code> is not a valid sidebar box type.
      </div>
    </div>
    {{ end }}
    </div>
  {{ end }}
</div>
