{{ with .Site.Params.authors }}
{{ range . }}
  {{ if .featured }}
    {{ $feat := .name }}
    {{ $authors := where $.Site.Pages "Section" "authors" }}
    {{ range $authors }}
      {{ $furl := .Permalink }}
      {{if eq $feat .Data.Term }}
        <div class="card author-sidebar">
          {{ with .Params.image }}
          <div class="card-image">
            <figure class="image"><img class="" src="{{ . | absURL }}" alt="Profile Photo: {{$feat}}"></figure>
          </div>
          {{ end }}
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ with .Params.header }}{{ . }}{{ else }}Meet the Author{{ end }}</p>
              </div>
            </div>
            
            <div class="content">
              {{ with .Params.blurb }}
              <p>{{.}}</p>
              {{ end }}
              {{ with .Content }}
              <em><a href="{{$furl}}" class="content is-small">Read More...</a></em>
              {{end}}
            </div>
          </div>
        </div>
      {{ end }}
    {{end}}
  {{ end }}
{{ end }}
{{ end }}

