<div class="gallery-container">
{{ $.Scratch.Set "hasImg" false }}

<div class="card gallery">
  <div class='carousel carousel-animated carousel-animate-slide'>
    <div class='carousel-container'>
      {{ range $i, $e := ( sort (.Resources.ByType "image") ".Params.weight")  }}
      <div class='carousel-item has-background is-active'>
        <img class="is-background"  src="{{($e.Fill "300x300").Permalink}}" alt="{{ with $e.Title }}{{.}}{{else}}{{$e.Name}}{{end}}" width="640" height="310" />
        <div class="title">{{ with $e.Title }}{{.}}{{else}}{{$e.Name}}{{end}}</div>
      </div>
      {{ end }}
    </div>
    <div class="carousel-navigation">
      <div class="carousel-nav-left">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="carousel-nav-right">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
</div>
