    <div class="modal" id="searchModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <div class="modal-card-title">
            <div class="modal-title-wrapper">
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="Search..." id="searchbox">
              </div>
              <div class="control">
                <button class="button" id="searchButton">
                  Search
                </button>
              </div>
              <div class="control">
                <button class="button" aria-label="close" id="clearModal">Reset</button>
              </div>
            </div>
            
              <button class="delete" aria-label="close" id="closeModal">Cancel</button>
            
            </div>
          </div>
        </header>
        <section class="modal-card-body" id="resultsContainer">
          <div class="content"> 
            <ol id="searchResults">
            </ol>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="content" id="searchStats"> 
          </div>
        </footer>
      </div>
    </div>

    
