{{ $page := .Page }}

{{ $.Scratch.Set "alt" ""}}

{{ with .Get "alt" }}
  {{ $.Scratch.Set "alt" . }}
{{ else }}
  {{ with .Get "caption" }}
    {{ $.Scratch.Set "alt" . }}
  {{ end }}
{{ end }}

{{ $.Scratch.Set "caption" ""}}
{{ with .Get "caption" }}
  {{ $.Scratch.Set "caption" . }}
{{ else }}
  {{ $.Scratch.Set "caption" ( $.Scratch.Get "alt" )  }}
{{ end }}
{{ $BaseURL := .Site.BaseURL }}
  <div class="card card-figure">
    <div class="card-image">
      <figure class="image is-marginless">
        {{ with .Get "resource" }} {{ $rimg := $page.Resources.GetMatch . }}
        <img src="{{ $rimg.Permalink | absURL }}" alt="{{$.Scratch.Get " alt "}}">
        {{ end }}
        {{ with .Get "src" }}
        <img src="{{ . | absURL }}" alt="{{$.Scratch.Get " alt "}}">
        {{ end }}
        <figcaption>
          {{ $.Scratch.Get "caption"}}
        </figcaption>
      </figure>
    </div>
  </div>

